{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
<body id="body">
	<div id="canvas-container">
		<div id="container">
			<div class="black-bar"></div>
			<div class="header-container">
					<div id="logo-container">
						<header role="banner"><div class="header">
{% include header.html %}
						</div></header>
					</div>
					<div class="clearfix"></div>
			</div>
			<div class="nav-container">
				<nav id="site" role="navigation"><div class="nav">
{% include navigation.html %}
				</div></nav>
				<div class="clearfix"></div>
			</div>
			<div id="main-container">
				<div class="content">
					{{ content | expand_urls: root_url }}
				</div>
				<div class="sidebar">
					{% include sidebar.html %}
				</div>
				<div class="clearfix"></div>
		  </div>
		</div>
	</div>
	<footer role="contentinfo"><div class="footer footer-container">{% include footer.html %}</div></footer>
{% include after_footer.html %}
</body>
</html>
