.header-container {
	margin: 0;
	padding: 0.625em;
	background-color: $darkgray;
	position: relative;
	z-index: 11;
}

#logo {
	max-width: 18em;
	max-height: 6em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#logo-div {
	color: $highlite;
	font-size: 3em;
	font-weight: bold;
	max-width: 24em;
	width: 100%;
}

@media screen and (min-width: $tnybreak+0.063) {

	#logo {
		margin: 0;
	}
	
	.header-container {
		padding: 0.625em 0 0.625em 2.5em;
	}
	
}
