<div id="social-options">
	<div class="centered">Find me on:</div>
	<nav id="social" role="navigation"><div class="nav">
		<div id="social-list">
			<ul>
				<li><a href="https://github.com/dmolsen">GitHub</a></li>
				<li><a href="http://lanyrd.com/profile/dmolsen/">Lanyrd</a></li>
				<li><a href="http://www.linkedin.com/in/dmolsen">LinkedIn</a></li>
				<li><a href="http://www.slideshare.net/dmolsenwvu">SlideShare</a></li>
				<li><a href="https://speakerdeck.com/dmolsen">SpeakerDeck</a></li>
				<li><a href="https://twitter.com/dmolsen">Twitter</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div></nav>
</div>
<div id="copyright" class="centered">
	&#169; {{ site.time | date: "%Y" }} Dave Olsen 
</div>
<div class="clearfix"></div>